.number {
    margin: 10px 0;
    border: 1px solid black;
    padding: 5px;
}

.number p {
    padding: 10px;
}

.number button {
    margin: 5px;
    padding: 5px;
}

.number input {
    font-size: 16px;
    text-align: center;
}